<%- include('../parts/html-head') %>
<style>
    body {
        background-color: #EFF0F0;
    }



    table.table tr th {
        background-color: #5F6B6B !Important;

        color: white !Important;

    }

    .choose {
        color: #5F6B6B;
        cursor: pointer;
    }

    .fas {
        color: #5F6B6B;
    }

    .choose:hover {
        color: #C77334;
    }

    .redstars {
        color: red;
    }

    .pagination>li>a {
        background-color: white;
        color: darkgray;
    }

    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

    .pagination>.active>a {
        color: white;
        background-color: #C77334 !Important;
        border: solid 1px #ddd !Important;
    }

    .pagination>.active>a:hover {
        background-color: #C77334 !Important;
        border: solid 1px #5A4181;
    }

    h3 {
        margin: auto;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .breadcrumb {
        background-color: #EFF0F0;
    }

    .breadcrumb .breadcrumb-item.active {
        color: #C77334;
    }

    .right {
        margin: 0 3px 10px;

    }

    table tr:hover {
        background-color: #e9e1dc;
    }

    table tbody .fa-trash {
        color: #5F6B6B;
        cursor: pointer;
    }

    i.fa-trash:hover {
        color: #C77334;
    }

    i.fa-edit:hover {
        color: #C77334;
    }
</style>
<%- include('../parts/navbar') %>



<div class="container">

    <div class="row justify-content-a">
        <table class="table">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">刪除</th>
                    <th scope="col">#</th>
                    <th scope="col">產品編號</th>
                    <th scope="col">產品名稱</th>
                    <th scope="col">價錢</th>
                    <th scope="col">圖片</th>
                    <th scope="col">描述</th>
                    <th scope="col">庫存</th>
                    <th scope="col">商品狀況</th>
                    <th scope="col">分類</th>
                    <th scope="col">材質</th>
                    <th scope="col">骨架</th>
                    <th scope="col">編輯</th>
                </tr>
            </thead>
            <!-- `sid`, `product_no`, `productname`, `photo`, `price`, `description`, `stock`, `conditions_sid`, `categories_sid`, `material_sid`, `framework_sid` -->
            <tbody>

                <% for(let i of rows){ %>
                <tr>
                    <td><i class="fas fa-trash my-trash-i" data-sid="<%= i.sid %>"></i>
                    </td>

                    <td><%= i.sid %></td>
                    <td><%= i.product_no %></td>
                    <td><%= i.productname %></td>
                    <td><%= i.price %></td>
                    <td>
                        <div class="wrap">
                            <img src="/img/<%=i.photo %>" alt="" width="150px">
                        </div>
                    </td>
                    <td><%= i.description %></td>
                    <td><%= i.stock %></td>
                    <td><%= i.conditions_sid %></td>
                    <td><%= i.categories_sid %></td>
                    <td><%= i.material_sid %></td>
                    <td><%= i.framework_sid %></td>

                    <td>
                        <a href="/man_secondhand/edit/<%= i.sid %>">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

</div>


<%- include('../parts/scripts') %>
<script>

    $('table tbody .fa-trash').on('click', function () {
        const sid = $(this).attr('data-sid');
        // const sid = $(this).data('sid');

        fetch('/man_secondhand/del/' + sid, {
            method: 'DELETE',
        })
            .then(r => r.json())
            .then(obj => {
                console.log(obj);
                location.reload();
            })

    });

</script>
<%- include('../parts/html-foot') %>